<h1>Spiel: <%= @game.name %></h1>


<% if @game.ready < 4 %>
    <p class="alert alert-warning">Bitte warten Sie bis
      <% @game.players.each do |player|  %>
        <%= player.name %>
      <% end %>
    das Spiel beendet hat</p>
    <p> <%= button_to "Aktualisieren!", score_path(@score), :method => :get, class:"btn btn-primary" %> </p>
<% else %>
      <h3>Deine Punktzahl: <%= @score.points %></h3>
      <% @scores_all = Score.all %>
      <h3>Punktzahl des Gegners: <%= @gegner_score = @scores_all.where(game_id: @game.id).where.not(user_id: current_user.id).first.points %></h3>
<% end %>
<%= button_to "Zurück zur Übersicht", root_path, clas:"btn btn-default btn-xs", method: "get" %>



