<h1>Spiel: <%= @game.name %></h1>
<% @scores_all = Score.all %>
<% @gegner_name = @scores_all.where(game_id: @game.id).where.not(user_id: current_user.id).first.username  %>
<% if @game.scores.where.not(user_id: current_user.id).take.is_calculated == false %>
    <p class="alert alert-warning">Bitte warten Sie bis
      <%= @gegner_name %>
    das Spiel beendet hat und die Punkte berechnet wurden</p>
    <p> <%= button_to "Aktualisieren!", score_path(@score), :method => :get, class:"btn btn-primary" %> </p>
<% else %>
      <h3>Deine Punktzahl: <%= @score.points %></h3>
      <h3>Punktzahl des Gegners: <%= @gegner_score = @scores_all.where(game_id: @game.id).where.not(user_id: current_user.id).first.points %></h3>
        <% if @score.points < @gegner_score %>
            <p class="alert alert-danger">VERLOREN!</p>
        <% end %>
        <% if @score.points == @gegner_score %>
            <p class="alert alert-info">UNENTSCHIEDEN!</p>
        <% end %>
        <% if @score.points > @gegner_score %>
            <p class="alert alert-success">GEWONNEN!</p>
        <% end %>
        <h3>Deine Lösungen:</h3>
        <table class="table table-condensed">
          <tr>
            <th><h4>Buchstabe</h4></th>
            <th><h4>Stadt</h4></th>
            <th><h4>Land</h4></th>
            <th><h4>Fluss</h4></th>
          </tr>
          <% @game.rounds.where(player_id: current_user.id).each do |round|  %>
          <tr>
            <td><%= round.character %></td>
            <td><%= round.city %></td>
            <td><%= round.country %></td>
            <td><%= round.river %></td>
          </tr>
          <% end %>
        </table>
        <h3>Lösungen von <%= @gegner_name %>:</h3>
        <table class="table table-condensed">
          <tr>
            <th><h4>Buchstabe</h4></th>
            <th><h4>Stadt</h4></th>
            <th><h4>Land</h4></th>
            <th><h4>Fluss</h4></th>
          </tr>
          <% @game.rounds.where.not(player_id: current_user.id).each do |round|  %>
              <tr>
                <td><%= round.character %></td>
                <td><%= round.city %></td>
                <td><%= round.country %></td>
                <td><%= round.river %></td>
              </tr>
          <% end %>
        </table>
        <br>
    <% end %>

<%= button_to "Zurück zur Übersicht", root_path, clas:"btn btn-default btn-xs", method: "get" %>



