<p id="notice"><%= notice %></p>

<p>
  <h3>Buchstabe: <strong><%= @round.character %></strong></h3>
</p>

<p>
  <h3>Aktuelle Runde: <%= @round.round_count %></h3>
</p>

<script>

    setInterval(function () {document.getElementById("nextRound").click();}, 30000);

</script>

<h3><b id="cID3">   Init<script>countdown(30,'cID3');</script></b><br></h3>

<%= form_for @round, method: :post, html: { class: "form-inline"}, url: edit_round_path(@round) do |f|%>
    <div id="spieleingabe">
      <h3>Spielbogen</h3>
      </br>
    <div class="form-group" id="stadt">
      <%= f.label :city, 'Stadt'%>
      <%= f.text_field "city", class:"form-control"%>
    </div>
    <div class="form-group" id="land">
      <%= f.label :country, 'Land'%>
      <%= f.text_field "country", class:"form-control"%>
    </div>
    <div class="form-group" id="fluss">
      <%= f.label :river, 'Fluss'%>
      <%= f.text_field "river", class:"form-control"%>
    </div>
    </div></br>
    <p>Sie haben 30 Sekunden Zeit. Sind Sie schneller fertig können Sie diese Runde manuell beenden!</p>
    <div class="actions"><%= submit_tag "Nächste Runde!", class:"btn btn-primary", id: "nextRound" %></div>
<% end %>








