<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @round.character %>
</p>

<p>
  <strong>Points:</strong>
  <%= @round.points %>
</p>

<p>
  <strong>Roundcount:</strong>
  <%= @round.roundcount %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
