<%= form_for(@runde) do |f| %>
  <% if @runde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runde.errors.count, "error") %> prohibited this runde from being saved:</h2>

      <ul>
      <% @runde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buchstabe %><br>
    <%= f.text_field :buchstabe %>
  </div>
  <div class="field">
    <%= f.label :stadt %><br>
    <%= f.text_field :stadt %>
  </div>
  <div class="field">
    <%= f.label :land %><br>
    <%= f.text_field :land %>
  </div>
  <div class="field">
    <%= f.label :fluss %><br>
    <%= f.text_field :fluss %>
  </div>
  <div class="field">
    <%= f.label :punkte %><br>
    <%= f.number_field :punkte %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
