<h1>Neues Spiel starten</h1>

<%= form_for @game do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Spielname'%><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :max_round_count, 'Rundenanzahl'%><br>
      <%= f.text_field :max_round_count, class:"form-control" %>
    </div>
    <div class="actions"><%= f.submit 'Spiel anlegen', class:"btn btn-primary" %></div>
<% end %>

