<h1>Spiel: <%= @game.name %></h1>
<h2>Spieler:</h2>
<% @game.players.each do |player|  %>
    <h3>-<%= player.name %></h3>
<% end %>


<% if @game.ready >= 2 %>
    <%= button_to "Spiel starten!", round_path(@game.rounds.where(round_count: 1, player_id: current_user).first), :method => :get, class:"btn btn-primary btn-lg btn-block" %>
<% else %>
    <p class="alert alert-warning">Es kann erst gestartet werden, wenn zwei Spieler im Spiel sind</p>
    <%= button_to "Aktualisieren!", game_path(@game), :method => :get, class:"btn btn-primary" %> <br>
    <%= button_to "Spiel löschen!", game_path(@game), :method => :delete, class:"btn btn-danger", data: { confirm: "Wollen Sie das Spiel wirklich löschen?" } %>

<% end %>