
<p>
  <strong>Name:</strong>
  <%= @game.name %>
  <strong>Rundenanzahl:</strong>
  <%= @game.max_round_count %>

  <table>
        <tr><td>Spieler:</td></tr>
    <% @game.players.each do |player|  %>
        <tr>
            <td><%= player.name %></td>
        </tr>
    <% end %>
  </table>
</p>
<%= @game.ready %>
<p>
  <% if @game.ready >= 2 %>
      <%= button_to "Start!", round_path(@game.rounds.where(round_count: 1, player_id: current_user).first), :method => :get %>
  <% else %>
    <%= button_to "Aktualisieren!", game_path(@game), :method => :get %>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
