
<p>
  <strong>Name:</strong>
  <%= @game.name %>
  <strong>Rundenanzahl:</strong>
  <%= @game.max_round_count %>

  <table>
        <tr><td>Spieler:</td></tr>
    <% @game.players.each do |player|  %>
        <tr>
            <td><%= player.name %></td>
        </tr>
    <% end %>
  </table>
</p>

<p>
  <% if @game.players.count >= 2 %>
      <% form_tag('/ready') do -%>
        <div><%= submit_tag 'Bereit!' %></div>
      <% end -%>
  <% else %>
    <%= button_to "Aktualisieren!", game_path(@game), :method => :get %>
  <% end %>
</p>

<script>
  ready();
  function ready() {
      var xmlhttp;
      if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp = new XMLHttpRequest();
      }
      else {// code for IE6, IE5
          xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.open("GET", "games/ready", true);
      xmlhttp.send();
      xmlhttp.onreadystatechange = function () {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              if (xmlhttp.responseText = 2) {
                  window.location = "http://10.70.13.57:3000/rounds/"
              }
          }
      }
  }
</script>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
