<h1>Login</h1>
  <%= form_tag sessions_new_path do %>
    <div class="form-group">
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email, params[:email], placeholder: 'Email eingeben', class:"form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'Passwort' %>
      <%= password_field_tag :password, nil, class:"form-control", placeholder: 'Passwort eingeben' %>
    </div>
    <div class="actions"><%= submit_tag "Log in", class:"btn btn-primary" %></div>
  <% end %>